.desktop {
    display: none;
}
.task-details-container {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-details-container-back-action {
    display: flex;
    align-items: center;
}

.task-details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--background-secondary-color);
    border-radius: var(--radius);
}

.task-details-header-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--gray-color);
}

.task-details-body {
    width: 100%;
    background-color: var(--background-secondary-color);
    border-radius: var(--radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-details-body-date {
    color: var(--gray-color);
}

.task-details-body-comments {
    padding: 10px;
    border-radius: var(--radius);
    background-color: var(--background-primary-color);
}

.task-details-body-comments h4 {
    padding-bottom: 10px;
}

.task-details-body-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 90px;
    overflow: auto;
    padding-top: 10px;
}

.task-details-body-tag {
    padding: 10px;
    border-radius: var(--radius);
    text-align: center;
    background-color: var(--background-primary-color);
    color: var(--font-color);
}

.task-details-actions {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--background-secondary-color);
    border-radius: var(--radius);
}

.task-details-actions-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tasks-details-tags-no-tags {
    width: 100%;
    padding: 10px;
    border-radius: var(--radius);
    background-color: var(--background-primary-color);
}

 /* Tablet */
 @media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }

    .task-details-header-status {
        width: auto;
    }

    .task-details-header-actions {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}