.field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.field-label {
    width: 100%;
    padding: 3px 0;
}

.field-textarea {
    width: 100%;
    padding: 10px 20px;
    color: var(--font-color);
    height: 100px;
    resize: none;
    background-color: var(--background-secondary-color);
}

.field-textarea:focus {
    border-color: var(--primary-color);
}